/* $Id$ */
/* file: wazala_admin.css */

#edit-wazala-type-wrapper {
    float: left;
    margin-right: 20px;
}

#edit-wazala-lag-wrapper {
    float: left;
}

#edit-wazala-nickname-wrapper {
    clear: left;
}

#edit-wazala-placement-wrapper {
    float: left;
    margin-right: 20px;
}

#edit-wazala-label-wrapper {
    float: left;
    clear: right;
}

#edit-wazala-customLabel-wrapper {
    clear:   both;
}

#edit-wazala-pageWidth-wrapper {
    clear: both;
}

#edit-wazala-touchButton-wrapper {
}
